<% if (Array.isArray(theme.friends)) { %>
<%- css("css/kira-friends") %>
<div class="kira-friends">
  <% theme.friends.forEach(friend => { %>
    <div class="kira-friends-friendWrapper">
      <a href="<%= friend.link %>" target="_blank" class="mdui-ripple kira-friends-item">
        <div class="kira-friends-avatarWrapper">
          <img src="<%= friend.avatar %>" alt="<%= friend.name %>">
        </div>
        <div class="kira-friends-intro">
          <div class="kira-friends-blogName"><%= friend.name %></div>
          <% if (friend.desc) { %><div class="kira-friends-desc"><%= friend.desc %></div><% } %>
        </div>
      </a>
    </div>
  <% }) %>
</div>
<hr />
<% } %>
